
<!DOCTYPE html>
<html>
<head>

<!-- TODO Brief litt med twig skills -->

    <title>Eksamen - Oppgave 9</title>


<style>

input, select {
    margin: 5px 0px 5px 0px;
  
    width: 100%;
    display: block;
}

</style>



</head>
<body>


<header>
    <p id="status-text"> </p>

    <h1>Registrer batteristatus</h1>
</header>


<main>

    <!-- TODO use proper paths -->
    <form id="form-batteristatus"
          name="batteristatus"
          autocomplete>

<!-- SELECT CELLCOUNT -->

    <label  for="input-batteristatus-cellcount">Batteripakke:</label>
    <select id="input-batteristatus-cellcount" 
            name="batteryid"
            autofocus
            required> 



    </select>


<!-- SELECT CELLCOUNT -->


<!-- SELECT BATTERY -->

    <label for="input-batteristatus-batteryid">Batteripakke:</label>
    <select id="input-batteristatus-batteryid" 
            name="batteryid"
            required> 



    </select>

<!-- SELECT BATTERY -->


<!-- SELECT FARTOY -->


    <label for="input-batteristatus-fartoyid">Fartoy:</label>
    <select id="input-batteristatus-fartoyid" 
            name="fartoyid"
            required> 



    </select>

<!-- SELECT FARTOY -->





    <!-- TODO regex this -->
    <label for="input-batteristatus-flighttime">Flytid:</label>
    <input id="input-batteristatus-flighttime"
            type="text"
            name="flighttime"
            value="00:00:00"
            placeholder="12:04:36" 
            required/>


    <label for="input-batteristatus-capacity">Gjennværende kapasitet:</label>
    <input id="input-batteristatus-capacity"
            type="number"
            min=0
            max=100
            name="capacity"
            placeholder="0-100%"
            required/>

    <label for="input-batteristatus-date">Date:</label>
    <input id="input-batteristatus-date" 
           type="date" 
           name="date"
           value="2018-05-29"
           min="1970-01-01" 
           max="2099-01-01"
           placeholder="2018-05-29"
           required/>

    <input id="btn-submit-fartoy"
           type="submit"
           value="Lagre informasjon"/> 


    </form>

</main>
<script>
  

function fetchFartoys () {
  return fetch("/api/getAllAircraft.php")
    .then(res => { return res.json()})
    .catch(err => { console.log(err); return err; })
}

function fetchBatteries() {
  return fetch("/api/getAllBatteries.php")
    .then(res => { return res.json()})
    .catch(err => { console.log(err); return err; })
}


function postBatteryStatus() {

    let inputValue = id => { return document.getElementById(id).value; };

    let formData = new FormData();

    formData.append('batteryid', inputValue('input-batteristatus-batteryid'))
    formData.append('fartoyid',  inputValue('input-batteristatus-fartoyid'))

    formData.append('flighttime', inputValue('input-batteristatus-flighttime'))
    formData.append('capacity',   inputValue('input-batteristatus-capacity'))
    formData.append('date',       inputValue('input-batteristatus-date'))

    fetch("/api/postBatteriStatus.php", {
        body: formData,
        method: 'POST'
    })
    .then(res => { 
      console.log(res); 
      return res.json();
    })
    .then(res => {
      console.log(res)

      let statusText = document.getElementById('status-text')
      statusText.innerHTML = `Inserted batterystatus to database with ID: ${res.id}`;
    })
    .catch(err => console.log(err))
}

/*
{% for battery in batteryArray %}
        <option value="{{ battery.id }}"> # {{ battery.id }} 
                                          - {{ battery.cells}}cell
                                          / {{ battery.capacity }} mAh</option>
{% endfor %}
*/

function populateSelectBattery(batteries, cellcountFilter = 3) {

    let selectBatteryElement = document.getElementById('input-batteristatus-batteryid')
    selectBatteryElement.innerHTML = "";

    batteries
    .filter(battery => cellcountFilter == battery.cells)
    .map(battery => {
      let option = document.createElement('option');

      option.value = battery.id
      option.innerHTML = `# ${ battery.id      }
                          - ${ battery.cells   }cell
                          / ${ battery.capacity} mah`
      selectBatteryElement.appendChild(option)
    })
}


/*
{% for fartoy in fartoyArray %}
        <option value="{{ fartoy.id }}">{{ fartoy.name}}</option>
{% endfor %}
*/

function populateSelectFartoy(fartoys) {

    let selectFartoyElement = document.getElementById('input-batteristatus-fartoyid')
    selectFartoyElement.innerHTML = "";

    fartoys.map(fartoy => {
      let option = document.createElement('option');

      option.value = fartoy.id
      option.innerHTML = fartoy.name

      selectFartoyElement.appendChild(option)        
    })
}



function populateSelectCellCount(maxCellCount = 24) {

    let selectCellcountElement = document.getElementById('input-batteristatus-cellcount')
    selectCellcountElement.innerHTML = ""

    for(let i = 1; i <= maxCellCount; ++i){
  
        let option = document.createElement('option');
        option.value = i
        option.innerHTML = i

        if (i == 3) {
          option.selected = true;
        }
        selectCellcountElement.appendChild(option)
    }
}


let cacheFartoys = {}
let cacheBatteries = {}

window.addEventListener('load', e => {
  
  populateSelectCellCount()

  fetchFartoys()
  .then(fartoys => {
    cacheFartoys = fartoys
    populateSelectFartoy(fartoys)
  })
  
  fetchBatteries()
  .then(batteries => {
    cacheBatteries = batteries
    populateSelectBattery(batteries)
  })

  //
  // Handle change in selected cell count
  //
  let selectCellcountElement = document.getElementById('input-batteristatus-cellcount')
  selectCellcountElement.addEventListener('change', e => {
    console.log(e.target.value)

    populateSelectBattery(cacheBatteries, e.target.value)
  })


  //
  // AJAX post form + preventdefault behaviour
  //
  let formBatteystatus = document.getElementById('form-batteristatus')

  formBatteystatus.addEventListener('submit', e => {
    e.preventDefault();
    postBatteryStatus();
  })
})


</script>


</body>
</html>
