
<!DOCTYPE html>
<html>
<head>

<!-- TODO Brief litt med twig skills -->

    <title>Eksamen - Oppgave 3</title>


<style>

input, select {
    width: 100%;
    display: block;
}

</style>



</head>
<body>


<header>
    <h1>Registrer batteristatus</h1>
</header>


<main>

    <!-- TODO use proper paths -->
    <form action="oppgave3.php" 
          method="post"
          id="form-batteristatus"
          name="batteristatus"
          autocomplete>



<!-- SELECT BATTERY -->

    <label for="input-batteristatus-batteryid">Batteripakke:</label>
    <select id="input-batteristatus-batteryid" 
            name="batteryid"
            autofocus
            required> 


{% for battery in batteryArray %}
        <option value="{{ battery.id }}"> # {{ battery.id }} 
                                          - {{ battery.cells}}cell
                                          / {{ battery.capacity }} mAh</option>
{% endfor %}

    </select>

<!-- SELECT BATTERY -->


<!-- SELECT FARTOY -->


    <label for="input-batteristatus-fartoyid">Fartoy:</label>
    <select id="input-batteristatus-fartoyid" 
            name="fartoyid"
            required> 


{% for fartoy in fartoyArray %}
        <option value="{{ fartoy.id }}">{{ fartoy.name}}</option>
{% endfor %}

    </select>

<!-- SELECT FARTOY -->





    <!-- TODO regex this -->
    <label for="input-batteristatus-flighttime">Flytid:</label>
    <input id="input-batteristatus-flighttime"
            type="text"
            name="flighttime"
            value="00:00:00"
            placeholder="12:04:36" 
            required/>


    <label for="input-batteristatus-capacity">Gjennværende kapasitet:</label>
    <input id="input-batteristatus-capacity"
            type="number"
            min=0
            max=100
            name="capacity"
            placeholder="0-100%"
            required/>

    <label for="input-batteristatus-date">Date:</label>
    <input id="input-batteristatus-date" 
           type="date" 
           name="date"
           value="2018-05-29"
           min="1970-01-01" 
           max="2099-01-01"
           placeholder="2018-05-29"
           required/>

    <input id="btn-submit-fartoy"
           type="submit"
           value="Lagre informasjon"/> 


    </form>

</main>


</body>
</html>
